fastapi==0.65.2
numpy>=1.19.2
pandas
tensorflow==2.18.0
uvicorn==0.34.0
typing-extensions>=4.0.0  # Adjust based on actual compatibility requirements
python-multipart 
#python 3.9.0
opencv-python-headless
## Use pip install -r requirements.txt to test the requirements installation